---
import BaseLayout from "../../layouts/BaseLayout.astro";

const pageTitle = "Arduino Project";
---

<BaseLayout pageTitle={pageTitle}>
    <header>
        <h1 class="text-center">¿Quiénes somos?</h1>
    </header>

    <section class="w-full h-auto">
        <article
            class="flex flex-col sm:flex-row flex-wrap items-center justify-between my-8"
        >
            <div class="w-100% sm:w-[30%] rounded-full">
                <img
                    src="aitor.svg"
                    alt="Aitor Melero"
                    class="w-80 !rounded-full"
                />
            </div>
            <div class="w-[100%] sm:w-[60%]">
                <h2 class="text-blue">Aitor Melero</h2>
                <p class="!text-2xl">
                    Aitor, graduado en Ingeniería Informática por la Universidad
                    Autónoma de Madrid, es un apasionado desarrollador web que
                    encuentra su motivación en la creación de aplicaciones y la
                    expresión de su creatividad a través del código. Su
                    constante formación y su habilidad para transformar ideas en
                    soluciones digitales son el reflejo de cada proyecto que
                    nace de su mano.
                </p>
                <div class="flex flex-row justify-between w-[50%] sm:w-40 h-7">
                    <a href="https://github.com/AitorMelero" target="_blank"
                        >GitHub</a
                    >
                    <a
                        href="https://www.linkedin.com/in/aitor-melero-pic%C3%B3n-678105293/"
                        target="_blank">LinkedIn</a
                    >
                </div>
            </div>
        </article>

        <hr />

        <article
            class="flex flex-col sm:flex-row-reverse flex-wrap items-center justify-between my-8"
        >
            <div class="w-100% sm:w-[30%] rounded-full">
                <img
                    src="ben.svg"
                    alt="Aitor Melero"
                    class="w-80 !rounded-full"
                />
            </div>
            <div class="w-[100%] sm:w-[60%]">
                <h2 class="text-blue">Benjamín Martín</h2>
                <p class="!text-2xl">
                    Mollit do sint in deserunt voluptate velit exercitation. Ex
                    dolore veniam voluptate sunt elit laborum consequat do
                    ullamco mollit aute pariatur laboris cupidatat. Magna do
                    Lorem aliqua quis. Irure occaecat excepteur ea et enim ipsum
                    eu velit deserunt laborum quis consequat. Est culpa deserunt
                    duis ut pariatur culpa exercitation.
                </p>
                <div class="flex flex-row justify-between w-[50%] sm:w-40 h-7">
                    <a href="https://github.com/mg-Ben" target="_blank"
                        >GitHub</a
                    >
                    <a
                        href="https://www.linkedin.com/in/aitor-melero-pic%C3%B3n-678105293/"
                        target="_blank">LinkedIn</a
                    >
                </div>
            </div>
        </article>
    </section>
</BaseLayout>
